# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform/
.terraform.lock.hcl

# SSH keys
*.pem
*.pub

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log